$menu-color: #E6C88C;

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 80px; /* Margin bottom by footer height */
  background: #FFF6E0;
  color: #3F3A59;
  font-weight: 400;
}

p {
  text-align: justify;
}

.fa-bars{
  color: $menu-color;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #3F3A59;
  color: #FFEFC7;
  text-align: center;
}

.container {
  max-width: 900px;
  padding: 0 15px;
}

.navbar{
  margin-bottom: 50px;
  background: #3F3A59;
  padding: 0.5rem 1rem;
}

a.nav-link{
  color: $menu-color;
  font-size: 15px;
}

.navbar-nav.ml-auto .nav-item {
  margin-left: 1rem;
  margin-right: 0;
}

.dropdown-menu {
  background-color: #FFF6E0;
}
